doctype html
html(lang='en')
  head
    title Node Express App with Pug
    meta(charset='utf-8')
    link(href='/stylesheets/style.css' rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet")
    //- add any additional links, scripts and meta tags as required
  body

  //- adds your nav.pug file to your layout.pug file
  include nav

  block content   

  //- // adds your footer.pug file to your layout.pug file
  include footer

